.main {
  min-height: 88vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "sans-serif", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.3rem;
}
.con{
  margin-left: 50px;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 20px;
  width: 230px;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 2%;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid red;
}